@model List<Emprestimo> 
@{
    ViewData["Title"] = "Listagem de Empréstimos";

    int FiltroPorPag = Int32.Parse(ViewData["emprestimosPorPagina"].ToString());
    int PaginaAtual = Int32.Parse(ViewData["PaginaAtual"].ToString());
    int NumEmprestimosPorPag = (Model.Count<FiltroPorPag ? Model.Count : FiltroPorPag);
    int NumTotalDePag = Model.Count/NumEmprestimosPorPag + (Model.Count%NumEmprestimosPorPag==0 ? 0 : 1);

    string Classe = "";
}

<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Usuario">Usuário</option>
                <option value="Livro">Livro</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        
        <!-- Melhoria código 18 paginação -->
        <div class="form-group">
            <p style="margin-left:50px;padding:0px;">Paginação:</p>
            <select name="itensPorPagina" id="itensPorPagina" style="margin-left:20px;padding:0px;">
                <option value="10">10 empréstimos</option>
                <option value="15">15 empréstimos</option>
                <option value="30">30 empréstimos</option>
                <option value="50">50 empréstimos</option>
                <option value=@Model.Count>Todos</option>
            </select>
        </div>

        <div id="SeletorPaginas" style="margin-left:20px;padding:0px;">
            <span>Página:</span>
            @for(int i=1; i<=NumTotalDePag;i++)
            {
                <span><a href="/Emprestimo/Listagem?PaginaAtual=@i">@i, </a></span>
            }
        </div>
        
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Correção problema 11 -->
        @if(Model.Count!=0)
        {
            <table class="table table-striped"> <!-- Correção problema 8 -->
                    <thead>
                        <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = (PaginaAtual-1)*NumEmprestimosPorPag; i<(NumEmprestimosPorPag*PaginaAtual<Model.Count?NumEmprestimosPorPag*PaginaAtual:Model.Count); i++)
                        {
                            @if((System.DateTime.Compare(System.DateTime.Now, Model[i].DataDevolucao)>0))
                            {
                                Classe="text-danger";
                            }
                            else
                            {
                                Classe="";
                            }

                        <tr class="@Classe">
                            <td>@Model[i].Id</td>
                            <td>@Model[i].NomeUsuario</td>
                            <td>@Model[i].DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].Livro.Titulo</td>
                            <td>@Model[i].Livro.Autor</td>
                            <td><a href="/Emprestimo/Edicao/@Model[i].Id">Editar</a></td>
                        </tr>
                        }
                    </tbody>
            </table>
        }   
        else 
        {
            <h2>Nenhum registro encontrado</h2>
        }
    </div>
</div>

